# On active le module de réeécriture (mod_rewrite) d'Apache
RewriteEngine On

#Vérifie si le fichier ou le dossier demandé n'existe pas 
#Cela permet d'éviter de rediriger les requetes pour le fichier et dossier réel
RewriteCond %{REQUEST_FILENAME} !-f

#La règle de réecriture : redirige toute les requetes 
#^(.*)$ correspont à toute l'url après le nom de domaine
#[QSA,L] : QSA signifie "apprend query string et L signifie "last"
#QSA permet de conserver les parametres d'origines lors de la redirection
#L indique que c'est la dernierer règle  de réecriture à appliquer
RewriteRule ^(.*)$ public/index.php?url=$1 [QSA,L]